.header{
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}

.header span{
	display: block;
}
.section{
padding: 30px ;
}
.container, .col-lg-6{
   //*border: 2px solid red;*//
}
.form{
	border: 5px solid #2727d9;
	padding: 35px 20px;
}
.form input{
	margin-bottom: 11px;
}
.form-header, .section-header{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn{
	background-color: #2727d9;
	margin: 10px 0px;
}
.future{
	margin: 60px auto;
}
.future p{
	margin-top: 20px;
}
.video{
	margin-bottom: 30px;
}
.feature-box{
	height: 160px;
}
img{
	height: 50px;
	width: 50px;
}